# NOTE: I have private URLs for my networking setup saved (in credentials.yml.enc) regarding this React on Rails project,
# for the React client, Rails API and Postgres database, each stored on differend development machines. One can never be
# too careful, so instead of transmitting this file, I have decided to omit it using my .gitignore file and am providing
# this credentials.yml.example. I envision, if anything, that I could securely share (via other means besides GitHub) the a
# actual file with a trusted cohort of developers I know on a personal level, and potentially also job interviewers if 
# they so wished to study what I've done with the project outside of live demos and reviewing the great majority of the
# code which is publicly facing. What follows is a representation of credentials.yml.enc with no actual secrets leaked.

# smtp:
#   user_name: my-smtp-user
#   password: my-smtp-password
#
# aws:
#   access_key_id: 123
#   secret_access_key: 345


database:
  username: my_postgres_user_db
  password: randomised-password
  host: [REDACTED URL]
  port: [REDACTED FOUR DIGIT NUMBER]

API:
  google_client_id: [REDACTED].apps.googleusercontent.com
  google_client_secret: [REDACTED] # Get this and the previous secret from the Google Cloud console
  domain: [.REDACTED.ORG] # This is the domain for the network
  host_alpha_client: [REDACTED URL] # This is the URL which the API uses to refer to the client, similar to the following block
  host_alpha_2: [REDACTED URL] # This and the following one are URLs representing the API, as alphabetical strings
  host_alpha_1: [REDACTED URL]
  host_numeric: [REDACTED:PORT] # This is a URL representing the API formed as an IP address and a port

Client:
  frontend_url: [REDACTED URL] This and the following URL are general ones which represent both the client and API routes
  frontend_url_no_suffix: [REDACTED URL]